<main>
    <div class="grow-container">
        <div class="grow-text">
            <h2>Grow Together</h2>
            <p>Generate meaningful discussions with your audience and<br>build a strong, loyal community. Think of the insightful<br>conversations you miss out on with a feedback form.</p>
        </div>
        <div class="grow-img">
            <img src="/illustration-grow-together.svg" alt="">
        </div>
    </div>
    <div class="flow-container">
        <div class="flow-img">
            <img src="/illustration-flowing-conversation.svg" alt="">
        </div>
        <div class="flow-text">
            <h2>Flowing Conversations</h2>
            <p>You wouldn't paginate a conversation in real life, so why do<br>it online? Our threads have just-in-time loading for a more<br>natural flow.</p>
        </div>
    </div>
    <div class="users-container">
        <div class="users-text">
            <h2>Your Users</h2>
            <p>It takes no time at all to integrate Huddle with your app's<br>authentication solution. This means, once signed in to<br>your app, your users can start chatting immediately.</p>
        </div>
        <div class="users-img">
            <img src="/illustration-grow-together.svg" alt="">
        </div>
    </div>
</main>
