<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/logo.svg" alt="">
            <div class="info">
                <i class="fa-solid fa-location-dot"> Lorem ipsum dolor sit amet, consectetur adipiscing<br>elit, sed do eiusmod tempor incididunt ut labore et<br>dolore magna aliqua </i>
            </div>
            <div class="info">
                <i class="fa-solid fa-phone"> +1-543-123-4567</i>
            </div>
            <div class="info">
                <i class="fa-solid fa-envelope"> example&#;64huddle.com</i>
            </div>
        </div>
        <div class="about-container">
            <ul class="nav-list">
                <li><a class="nav-link" href="#">About Us</a></li>
                <li><a class="nav-link" href="#">What We Do</a></li>
                <li><a class="nav-link" href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="carrer-container">
            <ul class="nav-list">
                <li><a class="nav-link" href="#">Carrer</a></li>
                <li><a class="nav-link" href="#">Blog</a></li>
            </ul>
        </div>
        <div class="footer-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </div>
</footer>
