<header>
    <nav>
        <div class="logo">
            <img src="/logo.svg" alt="">
        </div>
        <div class="nav-btn">
            <button class="try-btn">Try It Free</button>
        </div>
    </nav>
    <div class="header-container">
        <div class="header-text">
            <h1>Build The Community<br>Your Fans Will Love</h1>
            <p class="header-paragraph">
                Huddle re-imagines the way we build communities. You have<br>a voice, but so does your audience. Create connections with<br>your users as you engage in genuine discussion.
            </p>
            <button class="get-started-btn">Get Started For Free</button>
        </div>
        <div class="header-img">
            <img src="/illustration-mockups.svg" alt="">
        </div>
    </div>
</header>

